/* ============================= */
/* NAVBAR BACKGROUND - HIJAU */
/* ============================= */
.navbar-bg {
    background-color: #28a745 !important;
}

.main-navbar {
    background-color: #28a745 !important;
}

/* ============================= */
/* NAVBAR TEXT & ICON */
/* ============================= */
.main-navbar .nav-link,
.main-navbar .nav-link i,
.main-navbar .navbar-brand {
    color: #ffffff !important;
}

/* ============================= */
/* SEARCH BAR */
/* ============================= */
.main-navbar .form-control {
    background-color: #ffffff;
    color: #333;
}
